* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

li {
    list-style-type: none;
}

input, textarea{
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.app-page {
    background-color: #f8f8f8;
    display: flex;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 0 2px #d3d3d3;
    width: 25%;
    flex-grow: 1;
}

.header-menu {
    margin: 20px;
    display: flex;  
    text-align: center;
    background-color: #ecf1fe;
    height: 70px;
    margin-bottom: 40px;
}

.header-menu > p {
    margin: 0 20px;
    display: flex;
    align-items: center;
    vertical-align: center;
    gap: 15px;
    font-size: 0.9em;
}

.header-menu > p > span {
    font-size: 2.5rem;
    font-weight: 800;
}

.opcoes-menu{
    flex: 1;
    margin: 0 20px;
}

.opcoes-menu #tela-ativa {
    background-color: #ecf1fe;
}

.opcoes-menu > li {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #d3d3d3;
    padding: 10px;
}

.opcoes-menu > li:last-child {
    border: none;
}
.opcoes-menu > li:hover {
    cursor: pointer;
    background-color: #ecf1fe;
}

.opcoes-menu > li:active {
    background-color: #d3d3d3;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.conteudo > .header-conteudo {
    background-color: #eeeeee;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.conteudo .container-pesquisa > input{
    padding: 12px;
    margin-left: 20px;
    border-radius: 5px;
    width: 400px;
    border: none;
    font-size: 0.8em;
    background-color: #f8f8f8;
}

.conteudo .dados-usuario{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.conteudo .dados-usuario > p{
    color: #646464;
    font-size: .9em;
}

.dados-usuario #foto-usuario{
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}

.dados-usuario #btn-sair {
    text-transform: uppercase;
    border-left: 1px solid #d3d3d3;
    padding: 5px 30px;
    margin-left: 30px;
    color: #828282;
}

.dados-usuario #btn-sair:hover {
    color: white;
}

.conteudo .principal {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #828282;
}

.principal .container-titulo {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.tabela {
    border-collapse: collapse;
    width: 100%;
}

th, #titulo-lista {
    text-align: start;
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 0;
    font-size: .8em;
    font-weight: normal;
    text-transform: uppercase;
}

th:last-child {
    text-align: center;
}

td, #lista-relatorios{
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 0;
    font-size: .9em;
    color: #535353;
}

tbody > tr:hover {
    background-color: #ecf1fe;
    cursor: pointer;
}


td:last-child {
    text-align: center;
}

#statusInativo{
    color: #d3d3d3;
}

.btn-area-cadastro {
    background-color: #349834;
    color: white;
    text-transform: uppercase;
    padding: 12px 0;
    width: 300px;
    border: none;
    border-radius: 7px;
    font-weight: 600;
}

.btn-area-cadastro:hover {
    cursor: pointer;
    background-color: rgba(52, 152, 52, 0.755);
}

.btn-area-cadastro:active {
    background-color: #1d541d;
}

.inativo {
    display: none;
}

.ativo {
    display: block;
}