.cadastros .container-titulo {
    gap: 10px;
}

.container-titulo #titulo {
    flex: 1
}
.container-titulo label {
    margin-right: 20px;
}

.cadastros #btn-novo-cadastro:hover {
    cursor: pointer;
    background-color: rgba(52, 152, 52, 0.753);
}

.cadastros #btn-novo-cadastro:active {
    background-color: #1d541d;
}

.container-form {
    color: black;
    margin-top: -20px;
}

.container-form form { 
    display: flex;
    flex-direction: column;
}

.container-form .titulos-form{
    border-bottom: 2px solid #d3d3d3;
    margin: 10px 0 20px 0;
}

.container-form input{
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid #d3d3d3;
}

.container-form label{
    font-size: .9em;
}

.container-form #grid-idade-email {
    display: grid;
    grid-template: 
    "label-idade label-email"
    "idade email"
    / 1fr 3fr
    ;
}

#label-idade {
    grid-area: label-idade;
}

#label-email {
    grid-area: label-email;
    margin-left: 20px;
}

#idade {
    grid-area: idade;
}

#email {
    grid-area: email;
    margin-left: 20px;
}

.container-form textarea{
    resize: none;
    border: 1px solid #d3d3d3;
    margin-bottom: 20px;
    padding: 10px;
}

.btn-area-cadastro {
    margin: 0 auto;
    margin-top: 10px;
}